@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;400;700&display=swap");

/* #42A5F5 */

@layer utilities {
  .container1 {
    @apply mx-12 px-2;
  }
}

*{
  scroll-behavior: smooth;
}

body {

  font-family: 'Bahij !important';
  overflow-x: hidden;
  
  /* margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto; */

}

@font-face {
  font-family: DroidSansMono;
  src: url("../public/font3/font3.otf");
}


/* ----------- */

@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/Bahij_TheSansArabic-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/Bahij_TheSansArabic-SemiLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/Bahij_TheSansArabic-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/Bahij_TheSansArabic-Plain.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/Bahij\ Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/Bahij Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/Bahij_TheSansArabic-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/Bahij_TheSansArabic-Black 10.ttf') format('truetype');
}



.arabic{

  font-family: 'Bahij';


}
/* -------- */




@layer base {
  * {
    @apply select-none;
     /* font-family: "bahiji !important";  */
  }

}


.menu-icon {
  fill: white;
}



.brands_slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.slider_title {
  text-shadow: 3px 3px 2px #ffffff !important;
}


.shimmer {
  /* text-align: center; */
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4)
  );
  background: -moz-gradient(
      linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4)
  );
  background: gradient(
      linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4)
  );
  -webkit-background-size: 70px 100%;
  -moz-background-size: 70px 100%;
  background-size: 70px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ad832d;
}

@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}




.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* max-width: 300px; */
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}



.servicesSwiper {
  width: 100%;
  margin-top: 2.4rem;
  overflow: auto;
  overflow: visible !important;
}
.servicesSwiper .swiper-wrapper {
  /* overflow: unset; */
}
.servicesSwiper .swiper-slide {
  max-width: 259px;
}
.servicesSwiper .swiper-button-next,
.servicesSwiper .swiper-button-prev {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  height: 30px !important;
  background-color:  blue;
  border-radius: 50%;
  right: 2rem;
  top: -2rem;
  left: unset;
  color: white !important;
}
.servicesSwiper .swiper-button-prev {
  right: 5rem;
}

/** RTL **/
.servicesSwiper.swiper-rtl .swiper-button-prev {
  right: 0rem !important;
}
.servicesSwiper.swiper-rtl .swiper-button-next {
  right: 3.5rem !important;
}

.servicesSwiper .swiper-button-next:after,
.servicesSwiper .swiper-button-prev:after {
  font-size: 1rem;
  transform: translateX(0.1rem);
}
.servicesSwiper .swiper-button-prev:after {
  transform: translateX(-0.1rem);
}

.servicesSwiper.swiper-rtl .swiper-button-next:after,
.servicesSwiper.swiper-rtl .swiper-button-prev:after {
  font-size: 1rem;
  transform: translateX(-0.1rem);
}
.servicesSwiper.swiper-rtl .swiper-button-prev:after {
  transform: translateX(0.1rem);
}

.rsme-embed {
  height: 90% !important;
}